@import 'tailwindcss';

@view-transition {
	navigation: auto;
}

@theme {
	--font-sans: 'Lato', sans-serif;

	--color-accent-soft: #fef5dc;
	--color-accent: #f9bd17;

	--color-main: #171717;
	--color-main-muted: #494949;
	--color-main-soft: #7d7d7d;
	--color-main-dim: #c9c9c9;
	--color-main-pale: #e9e9e9;
	--color-main-hazy: #f6f6f6;
	--color-main-mist: #fbfbfb;

	--color-link: #403fa1;
	--color-warning: #e73737;

	--text-xs: 0.8125rem;
	--text-2xl: 1.5625rem;

	--easing-circ: cubic-bezier(0.85, 0.09, 0.15, 0.91);
	--easing-spring: linear(
		0,
		0.03 1.5%,
		0.121 3.2%,
		0.851 13%,
		0.99 16.4%,
		1.063 20.2%,
		1.076 22.3%,
		1.075 24.8%,
		1.013 35.9%,
		0.995 43.4%,
		1
	);
}

@layer base {
	body {
		@apply text-main-muted font-sans antialiased;
	}

	h1,
	h2 {
		@apply font-bold;
	}

	button {
		@apply inline-flex cursor-pointer items-center justify-center gap-2 rounded;
	}

	a {
	}

	input[type='checkbox'] {
		@apply border-main-soft size-4 cursor-pointer appearance-none rounded border-2 transition-colors;

		&:checked {
			@apply bg-accent border-accent;
		}
	}

	th {
		@apply text-start text-sm font-bold tracking-wide uppercase;
	}

	td,
	th {
		@apply py-2;
	}

	tr:nth-child(odd) td {
		@apply bg-main-hazy;
	}
}

@layer components {
	.input-text {
		@apply border-main-dim w-full rounded border px-3 py-2;
	}

	.btn {
		@apply bg-accent rounded p-2 text-lg font-semibold;
	}

	.btn--sm {
		@apply py-1 text-xs;
	}

	.divider {
		@apply flex items-center gap-2;

		&:before,
		&:after {
			content: '';
			@apply bg-main-dim h-px flex-grow;
		}
	}

	.label-inside {
		@apply grid;

		span,
		input,
		select {
			@apply col-start-1 row-start-1;
		}

		span {
			@apply text-main-soft pointer-events-none grid items-center px-3 transition-opacity;
		}

		&:has(input:focus, input:not(:placeholder-shown)) {
			span {
				@apply opacity-0;
			}
		}
	}

	.eyebrow {
		@apply text-main-soft text-xs font-bold tracking-wide uppercase;
	}

	.dropdown {
		button {
			@apply w-full cursor-pointer justify-start px-2 py-1.5 whitespace-nowrap;

			&:hover {
				@apply bg-accent-soft;
			}
		}
	}

	.dropdown--tight {
		button {
			@apply py-1;
		}
	}
}
